*, *::before, *::after {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  border: none;
  list-style-type: none;
}

body{
  background-color: aqua;
  /* outline: 1px solid rgb(255, 61, 47); */
  width: 100%;
  /* padding: 0 30px; */

}