@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  border: none;
  list-style-type: none;
}