.contentFooter {
  font-family: "Josefin sans", sans-serif;
}

.contentFooter img {
  display: flex;
  align-items: center;
}

.contentFooter nav {
  text-align: center;
}

.contentFooter .linkGroup {
  padding: 0;
}

.contentFooter .linkGroup a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

.footer .itemLink {
  margin-top: 30px;
}

.contentIcons {
  display: flex;
  flex-direction: column;
}

.contentIcons .icons {
  width: 300px;
  display: flex;
  padding: 0;
}